{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}

  <head>
  <style type="text/css">
    #mc_embed_signup{background:rgb(255, 243, 178); clear:left; font:14px Helvetica,Arial,sans-serif;  width:100%;}
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <style>
    .fa:hover {
        /* Option in yellow: #e8e11e */
        color: #9f23d9 !important;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <div>
    <a class="link" href="https://www.linkedin.com/in/gboaviagem/"><i class="fa fa-linkedin" style="font-size:30px;color:#505050"></i></a>
    &nbsp &nbsp
    <a class="link" href="https://github.com/gboaviagem"><i class="fa fa-github" style="font-size:30px;color:#505050"></i></a>
    &nbsp &nbsp
    <a class="link" href="https://www.instagram.com/g.boaviagem/"><i class="fa fa-instagram" style="font-size:30px;color:#505050"></i></a>
  </div>

  <div class="posts">
    {{ range $paginator.Pages }}
    <div class="post on-list">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <div class="post-meta">
        {{ if .Date }}
          <span class="post-date">
            {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
          </span>

          {{ if $.Site.Params.LastModDisplay }}
            {{ partial "lastmod.html" . }}
          {{ end }}
        {{ end }}

        {{ with .Params.Author }}
          <span class="post-author">— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>
        {{ end }}

        {{ if $.Site.Params.ShowReadingTime }}
          <span class="post-read-time">— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
        {{ end }}
      </div>

      {{ if .Params.tags }}
        <span class="post-tags">
          {{ range .Params.tags }}
            <a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">#{{ . }}</a>&nbsp;
          {{ end }}
        </span>
      {{ end }}

      {{ if .Params.Cover }}
        <figure class="post-cover">
          {{ if .Params.UseRelativeCover }}
            <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" alt="{{ .Params.CoverAlt | plainify | default .Title }}"/>
          {{ else }}
            <img src="{{ .Params.Cover | absURL }}" alt="{{ .Params.CoverAlt | plainify | default .Title }}"/>
          {{ end }}

          {{ if .Params.CoverCaption }}
            <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
          {{ end }}
        </figure>
      {{ end }}

      <div class="post-content">
        {{ with .Description }}
          {{ . | markdownify }}
        {{ else }}
          {{ if .Truncated }}
            {{ .Summary }}
          {{ end }}
        {{ end }}
      </div>
      {{ if not .Params.hideReadMore }}
        <div><a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more" }} →</a></div>
      {{ end }}
    </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>

  <!-- Begin Mailchimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <div>
    <br><br><br>
  </div>

  <div id="mc_embed_signup">
  <form action="https://xyz.us6.list-manage.com/subscribe/post?u=41f55dd9812813a16c6422d4c&amp;id=bb3e4cd745" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <br>
    <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Assine para receber os novos posts</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Seu melhor e-mail" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_41f55dd9812813a16c6422d4c_bb3e4cd745" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Quero assinar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
    <br>
  </form>
  </div>

  <!--End mc_embed_signup-->
{{ end }}
